<launch>
	<node name="logo" pkg="simple_robot"
		type="logo" output="screen" />
	<node name="thermal_sensor" pkg="simple_robot"
		type="thermal_sensor" output="screen" />
	<node name="data_fusion" pkg="simple_robot"
		type="data_fusion" output="screen" />
	<node name="robot_pose_server" pkg="simple_robot"
		type="robot_pose_server" output="screen" />
	<node name="victim_announce" pkg="simple_robot"
		type="victim_announce" output="screen" />
</launch>