<launch>
	<node name="logo" pkg="complex_communication_action"
		type="logo" output="screen" />
	<node name="player_1" pkg="complex_communication_action"
		type="player_1" output="screen" />
	<node name="player_2" pkg="complex_communication_action"
		type="player_2" output="screen" />
	<node name="server_node" pkg="complex_communication_action"
		type="server_node" output="screen" />
</launch>