<launch>
  
  <node name="logo" pkg="obst_avoid_robot" type="logo" output="screen" />
  <node pkg="obst_avoid_robot" type="avoid_obstacles" name="avoid_obstacles" />
  <node pkg="obst_avoid_robot" type="robot_tf_listener" name="robot_tf_listener" />
  <node pkg="obst_avoid_robot" type="bounding_box" name="bounding_box" />

  <include file="$(find stdr_launchers)/launch/server_with_map_and_gui_plus_robot.launch" />
  
</launch>
